body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.center-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    margin: auto;
    height: 70vh;
    width: 70vw;
}

h1 {
    padding-bottom: 32px;
}

input {
    margin-bottom: 16px;
    padding: 4px;
    border: none;
    outline: none;
    border-radius: 5px;
}