body {
    overflow: hidden;
}

.center-container {
    padding-top: 128px;
    margin-inline: auto;
    width: 50%;
}

h1 {
    padding-bottom: 32px;
}

input {
    margin-bottom: 16px;
    padding: 4px;
    border: none;
    outline: none;
    border-radius: 5px;
}