body {
    margin: 0;
}

.center-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 256px);
    padding-top: 128px;
    padding-bottom: 128px;
}

#filler {
    flex-grow: 1;
}

a {
    color: rgb(228, 228, 228);
    text-decoration: none;
}

.hidden {
    visibility: hidden;
}

#admin_links {
    margin-top: 32px;
}